
@import '~bootstrap/scss/bootstrap.scss';

$var: #FFFFFF;
$varDark: #adadad;
$varDarkHover: #00d2a0;

$_a_light_grey: #f9f8f8;

html {
  
}

body {
  background: $var;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  //font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

$cyan: #007AE5;
$tiles: 5;

.wrapper {
    height: 100vh;
    text-align: center;
    
    button {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  .loader {
    $parent: &;
  
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 0s 1.4s ease;
    
    #{$parent}__icon {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0;
      transition: opacity .5s ease;
      
      svg {
        transform-origin: 0 0;
      }
    }
    
    #{$parent}__tile {
      position: absolute;
      left: 0;
      width: 0;
      height: 20%;
      background-color: $cyan;
      transition: width .7s ease;
      
      @for $i from 0 through $tiles {
        &:nth-child(#{$i}) {
          top: calc(#{$i - 1} * 20%);
          transition-delay: #{($i - 1) * 0.2s};
        }
      }
    }
    
    &--active {
      width: 100%;
      transition-delay: 0s;
      
      #{$parent}__icon {
        opacity: 1;
        transition: opacity .5s 1.4s ease;
      }
      
      #{$parent}__tile {
        width: 100%;
  
        @for $i from 0 through $tiles {
          &:nth-child(#{$i}) {
            transition-delay: #{($i - 1) * 0.2s};
          }
        }
      }
    }
  }


//=======================================================
// Typography 
//=======================================================

$lightFont: #9e9e9e;
$darkFont: #404041;

$darkFontHover: #656566;

a {
  font-weight: 400;
  transition: color 0.25s ease;
  &, &:visited, &:hover {
    color: $lightFont;
    text-decoration: none;
  }
  &:hover {
    color: $varDarkHover;
  }
}

p {
  a {
    &, &:visited, &:hover {
      color: $varDarkHover;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

p, li {
  font-weight: 400;
  color: $lightFont;
  line-height: 2;
}

li {
  line-height: 1.3;
}

.smalls {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  margin-bottom: 6px;
}

.tinys {
  letter-spacing: 0.1em;
  font-size: 9px;
  color: $varDark;
}

.larges {
  font-size: 2.2rem;
  line-height: 1.3;
  color: $darkFont;
  font-family: 'Lora', serif;
}

.mediums {
  font-size: 1.4rem;;
  line-height: 1.6; 
  color: $darkFont;
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
  transition: color 0.25s ease;
  font-family: 'Lora', serif;
  color: $darkFont;
  font-weight: 400;
  margin-bottom: 14px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  transition: color 0.25s ease;
  color: $darkFont;
  font-weight: 400;
  margin-bottom: 14px;
}

.sub__label {
  font-size: 12px;
  margin-bottom: 0px;
}

.tick {
  border: 0;
  height: 1px;
  background-color: #ccc;
  width: 20px;
  margin-left: 0;
}

//=======================================================
// Components 
//=======================================================

IMG, VIDEO {
  width: 100%;
}

.hero__sec { 
  position: relative;
  padding-top: 1px;
  margin-top: -1px;  
  z-index: 1;
  h1 {
    margin-bottom: 1px;
  }
}

.hero__back {
  position: absolute;
  height: calc(100% - 150px);
  width: 100vw;
  z-index: -99;
  background: $_a_light_grey;
  top: 68px;
}

.container_bg {
  padding-top: 1px;
  margin-top: -1px;
  background: $_a_light_grey;
  width: 100vw;
}

.bg_darker {
  background: #e5e4e5;
}

.bg__xtra__darker {
  background: #1a1a1a;
}

.chunky__block {
  padding-top: 110px;
  padding-bottom: 90px;
}

.chunky__hero {
  margin-top: 160px;
  margin-bottom: 70px;
}

.some__margin {
  & > div {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.list__funnel {
  margin-top: 30px;
  max-width: 400px;
  li {
    margin-bottom: 15px;
    &:not(:last-child) {
      &::after {
        margin-top: 15px;
        margin-left: 45px;
        content: "↓";
        text-align: center;
        display: block;
        width: 20px;
        color: #0055ff;
      }
    }
  }
  
}

.work__showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work__card {
  width: 100%;
  padding-bottom: 100px;
  .work__image__container {
    width: 100%;
    padding-top: 140%;
    position: relative;
  }
  .work__image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 0.5s ease;
      & > div {
          transition: all 0.5s ease;
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          
      }     
  }

  & a:hover {
      .work__image {
          transform: scale(.95);
          & > div {
              transform: scale(1.1);
          }
      }
      
  }
  .work__label {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      transition: all 0.5s ease;
      h3 {
          font-size: 20px;
          padding: 3px 0;
          text-align: center;
          display: inline-block;
          margin-bottom: 6px;
          position: relative;
          font-family: "Roboto", sans-serif;
      }
      p {
        display: inline-block;

      }
  }
  a {
      text-decoration: none !important;
  }
}


//=======================================================
// Home 
//=======================================================

#hero {
	width: 100vw;
	height: 100vh;
    position: relative;
    z-index: 10;
    canvas {
	    width: 100%;
	    height: 100%;
			z-index: -99;
			cursor: crosshair;
		}
}

.hero__home__backdrop {
	width: calc(100vw);
	height: calc(100vh - 100px);
	top: 70px;
	left: 0;
	z-index: -99;
	position: absolute;
	background: #efefef;
    background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(240,240,240,1) 100%);
    #porticles {
        height: 100%;
        width: 100%;
    }
}


@media (max-width: 728px) { 
	.hero__home__backdrop {
		height: calc(100vh - 180px);
	}
}

#home {
  color: red;
}


//=======================================================
// Work Pages 
//=======================================================

.hero__image {
  width: 100%;
}




.persona__img {
    height: 70px;
    display: block;
    width: auto;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .persona__p {
    margin-top: 30px;
  }
  
  .wireframe { 
    border: solid 2px black;
    border-radius: 2px;
  
  }
  
  .wireframe__lighter {
    border: solid 1px rgb(241, 241, 241);
    border-radius: 2px;
  }
  
  .margin__collapse__150 {
    margin-top: 150px; 
  }
  
  .margin__collapse__50 {
    margin-top: 50px; 
  }
  
  .persona {
    padding-right: 30px;
    padding-left: 30px;
  }
  
  
  
  @media (min-width: 992px) { 
  
    .wireframe {
      border: solid 1px black;
    }
  
    .persona__p {
      margin-top: 100px; 
    }
   
   }
  
  @media (max-width: 720px) { 
    .persona {
      padding-right: 20px;
      padding-left: 30px;
    }
  
    .margin__collapse {
      margin-top: 0; 
    }
   }



//=======================================================
// Nav 
//=======================================================

.nav__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 100;
  nav {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  margin: 10px; 
  
}



.logo__name {
  svg {
    fill: $darkFontHover;
    transition: all .25s ease;
    height: 18px;
  }
  &:hover {
    svg {
      fill: $varDarkHover;
    }
  }
}

.kitty__mode {
    SVG {
        height: 13px;
        width: 13px;
        margin: 3px;
        margin-right: 8px;
    }
}

.light {
    fill: $darkFont; 
    pointer-events: none;
    cursor: default;
}

.dark {
    fill: #727272; 
}


//=======================================================
// Footer
//=======================================================

.footer__container {
  margin-top: 100px;
  height: 125px;
  display: flex;
  justify-content: space-between;
  .logo__name {
    svg {
      fill: #e7e7e7;
    }
    &:hover {
      svg {
        fill: $varDarkHover;
      }
    }
  }
}

.footer__outer__container {
  padding-top: 40px;
}


//=======================================================
// Darkness
//=======================================================

.dark__mode {
    background-color: #232323;
    a {
        font-weight: 400;
        transition: color 0.25s ease;
        &, &:visited, &:hover {
          color: #8f8f8f;
          text-decoration: none;
        }
        &:hover {
          color: $varDarkHover;
        }
    }
      
    p, .sub {
        color: #727272;
        a {
          &, &:visited, &:hover {
            color: $varDarkHover;
          }
        }
    }

    .wireframe__lighter {
        border: solid 1px #1f1f1f;
    }


    .smalls, .sub__label, .sub {
        color: #656565;
    }   

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6  {
        color: #9e9e9e;
    }

    .larges, .mediums {
        color: #9e9e9e;
    }

    .logo__name svg {
        fill: #ababab;
        &:hover {
            fill: $varDarkHover;
        }
    }

    .footer__container .logo__name svg {
        fill: #353535;
        &:hover {
            fill: $varDarkHover;
        }
    }

    .hero__home__backdrop {
        background: #272727;
        background: radial-gradient(circle, #262626 0%, #272727 100%);
    }

    .container_bg, .hero__back {
        background: #272727;
    }

    IMG, VIDEO {
        border: solid 1px #000000;
        border-radius: 2px;
        background-color: #FFF;
    }

    .persona__img {
        background-color: transparent;
        border: none;
    }
}

//=======================================================
// Media Queries
//=======================================================

@media (max-width: 992px) { 
  html {
    font-size: 14px;
  }

  .chunky__hero {
    margin-bottom: 40px;
  }

  .some__margin {
    margin-top: 20px;
  }
  
 }




@media (max-width: 768px) { 
  .work__card {
    .work__label {
      h3 {
        font-size: 16px;
      }
    }
  }
 }



